Skip to content

Search…
All gists
GitHub
New gist
31
13 @FullStackForgerFullStackForger/.gitignore
Last active 2 days ago • 
 
<script src="https://gist.github.com/FullStackForger/20bbf62861394b1a3de0.js"></script>
  
 Code  Revisions 2  Stars 31  Forks 13
.gitignore for Unity3d project
 .gitignore
###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
 @FullStackForger
Owner
FullStackForger commented on Mar 7, 2015
Good response on stackoverflow http://stackoverflow.com/a/18225479

 @dustin-fox
dustin-fox commented on Jan 18 • 
You have "*.pidb.meta" but I don't think that matches any files in my unity project. Shouldn't it just be "*.meta" or should I actually commit some meta files?

 @SteveDAC
SteveDAC commented on Jan 20
Shouldn't it just be "*.meta" or should I actually commit some meta files?

You absolutely do need to commit .meta files!

 @KhaledAhmedYounes
 
            
 
 

Leave a comment
Attach files by dragging & dropping, , or pasting from the clipboard.  Styling with Markdown is supported
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About
Press h to open a hovercard with more details.